<header>
    <nav class="navbar">
        <div class="navbar-container">
            <h1 routerLink="/" class="logo epic-font">
                Artificial Slime
            </h1>
            <div class="navbar-links">
                <a routerLink="/catalog/popular" class="navbar-item">
                    <i class="fa-solid fa-crown"></i>
                </a>
                <a routerLink="/catalog" class="navbar-item">
                    <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                </a>
                <a *ngIf="isUser==true" routerLink="/create" class="navbar-item">

                    <i class="fa-solid fa-circle-plus"></i>
                </a>

                <a routerLink="/profile-list" class="navbar-item">
                    <i class="fa-sharp fa-solid fa-user-plus"></i>
                </a>
                <a *ngIf="isUser==true" routerLink="/profile/{{userData._id}}" class="navbar-item">
                    <i class="fa-sharp fa-solid fa-user"></i>
                </a>
                <a routerLink="/" class="navbar-item">
                    <i class="fa-sharp fa-solid fa-house-chimney"></i>
                </a>

                <a *ngIf="isUser==false" routerLink="/login" class="navbar-item">
                    LOGIN
                </a>
                <a *ngIf="isUser==false" routerLink="/register" class="navbar-item">
                    REGISTER
                </a>
                <a *ngIf="isUser" routerLink="/logout" class="navbar-item">
                    <i class="fa-sharp fa-solid fa-right-to-bracket"></i>
                </a>
            </div>
        </div>
    </nav>
</header>
<!-- HEADER -->


<router-outlet></router-outlet>


<!-- FOOTER -->
<footer class="footer">
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
        <li class="social-icon__item"><a class="social-icon__link" href="#">
                <i class="fa-brands fa-square-facebook"></i>
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
                <i class="fa-brands fa-github"></i>
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
                <i class="fa-brands fa-linkedin"></i>
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
                <i class="fa-brands fa-instagram"></i>
            </a></li>

    </ul>
    <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
        <li class="menu__item"><a class="menu__link" href="#">About</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>

    </ul>
    <p>&copy;Personal Project 2022 - Jan Milenkov| All Rights Reserved</p>
</footer>