














/* .liked-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 16px 100px;
    gap: 2rem;
    padding-bottom: 100px;
}
.liked-image {
    width: 100%;
    border-radius: 50%;
    transition: all 0.5s ease-out;
    border: 6px solid rgb(168, 168, 168);
}
.liked-image:hover {
    border-radius: 16px;
    border-color: rgb(0, 161, 161);

} */