<div class="container">
    <form class="form-container">
        <div class="grid-object">
            <h1 class="profile-info">MyNameEpic SANCHAN</h1>
            <h2 class="profile-info">"info info info info info info info info info info info info info 
                info info info info info info info info info info info "</h2>
            <div class="grid-two">
                <h3 class="profile-info">Likes: 10</h3>
                <h3 class="profile-info">Owns: 10</h3>

            </div>
            
            
        </div>
        <div class="grid-object">
            <img src="./assets/public/images/bronze.png" class="profile-picture" />

        </div>

        <div class="grid-object">
            
            <label class="socials-label">My Socials:</label>
            <a class="profile-socials" href="https://www.linkedin.com/in/jan-milenkov-370bb3241/"><i class="fa-brands fa-linkedin"></i>linked-in </a>
            <a class="profile-socials" href="https://github.com/instamenta"><i class="fa-brands fa-square-github"></i>git-hub </a>
            <a class="profile-socials" href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i>facebook </a>
            <a class="profile-socials" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i>instagram </a>
        </div>
    </form>
</div>