<section class="personal-art top-art">
    <div class=" layer-font">
        Art Page
        <i class="fa-sharp fa-solid fa-palette"></i>
    </div>
</section>

<div class="block">
    <input class="search" type="text" [(ngModel)]="searchText" (keyup)="search()">
    <button class="search">Search</button>
</div>

<h2 *ngIf="notFound == false && notSearching == false" class="search-found">Nfts found = [ {{searchData.length}} ] </h2>
<h2 *ngIf="notFound == false && notSearching == true" class="search-found">nft list = [ {{nftsData.length}} ] </h2>
<h2 *ngIf="notFound == true " class="search"> Nothing Found </h2>

<section class="container-huge">
    <div class="art-grid">

        <ng-template [ngIf]="searchCriteria == false">
            <div *ngFor="let nftData of nftsData" class="painting-container">
                <img class="painting" src="{{nftData.pic}}" routerLink="/catalog/details/{{nftData._id}}" />
            </div>
        </ng-template>

        <ng-template [ngIf]="searchCriteria == true">
            <div *ngFor="let nftData of searchData" class="painting-container">
                <img class="painting" src="{{nftData.pic}}" routerLink="/catalog/details/{{nftData._id}}" />
            </div>
        </ng-template>
    </div>
</section>

<div class="bottom-title layer-font">
    Subscription Plans
</div>

<div class="hero-container">
    <div class="main-container">
        <div class="poster-container">
            <a href="#"><img src="./assets/public/images/bronze.png" class="poster" /></a>
        </div>
        <div class="ticket-container">
            <div class="ticket__content">
                <h4 class="ticket__movie-title">One Month</h4>
                <p class="ticket__movie-slogan">
                    Bronze
                </p>
                <p class="ticket__current-price">$16.00</p>
                <p class="ticket__old-price">$20.00</p>
                <button class="ticket__buy-btn bronze">Buy now</button>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="poster-container">
            <a href="#"><img src="./assets/public/images/silver.png" class="poster" /></a>
        </div>
        <div class="ticket-container">
            <div class="ticket__content">
                <h4 class="ticket__movie-title">Half Year</h4>
                <p class="ticket__movie-slogan">Silver</p>
                <p class="ticket__current-price">$80.00</p>
                <p class="ticket__old-price">$120.00</p>
                <button class="ticket__buy-btn silver">Buy now</button>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="poster-container">
            <a href="#"><img src="./assets/public/images/gold.png" class="poster" /></a>
        </div>
        <div class="ticket-container">
            <div class="ticket__content">
                <h4 class="ticket__movie-title">Full Year</h4>
                <p class="ticket__movie-slogan">Gold</p>
                <p class="ticket__current-price">$140.00</p>
                <p class="ticket__old-price">$240.00</p>
                <button class="ticket__buy-btn gold">Buy now</button>
            </div>
        </div>
    </div>
</div>