<div class=" layer-font">
    Select Picture <i class="fa-sharp fa-solid fa-palette"></i>
</div>
<div class="liked-container">
    <div *ngFor="let nft of nftArray" class="grid-component">
        <img src="{{nft.pic}}" class="liked-image" (click)="changePicHandler($event)"/>
    </div>
    <!-- <div class="grid-component">
        <img src="./assets/public/images/bronze.png" class="liked-image" />
    </div>
    <div class="grid-component">
        <img src="./assets/public/images/bronze.png" class="liked-image" />
    </div>
    <div class="grid-component">
        <img src="./assets/public/images/bronze.png" class="liked-image" />
    </div>
    <div class="grid-component">
        <img src="./assets/public/images/bronze.png" class="liked-image" />
    </div>
    <div class="grid-component">
        <img src="./assets/public/images/bronze.png" class="liked-image" />
    </div>
    <div class="grid-component">
        <img src="./assets/public/images/bronze.png" class="liked-image" />
    </div>
    <div class="grid-component">
        <img src="./assets/public/images/bronze.png" class="liked-image" />
    </div>
    <div class="grid-component">
        <img src="./assets/public/images/bronze.png" class="liked-image" />
    </div>
    <div class="grid-component">
        <img src="./assets/public/images/bronze.png" class="liked-image" />
    </div>
    <div class="grid-component">
        <img src="./assets/public/images/bronze.png" class="liked-image" />
    </div>
    <div class="grid-component">
        <img src="./assets/public/images/bronze.png" class="liked-image" />
    </div>
    <div class="grid-component">
        <img src="./assets/public/images/bronze.png" class="liked-image" />
    </div> -->
</div>







