<section class="flexbox welcome">
    <div class="art-background welcome-container">
        <h1 class="welcome-text awesome">
            <span class="contaianer">

                <span class="lettering ">W</span>
                <span class="lettering ">e</span>
                <span class="lettering ">l</span>
                <span class="lettering ">c</span>
                <span class="lettering ">o</span>
                <span class="lettering ">m</span>
                <span class="lettering ">e</span>

                <span class="lettering">T</span>
                <span class="lettering">o</span>
                <span class="lettering"> </span>
                <br>

                <span class="lettering">T</span>
                <span class="lettering">h</span>
                <span class="lettering">e</span>
                <span class="lettering"> </span>
                <span class="lettering">A</span>
                <span class="lettering">R</span>
                <span class="lettering">T</span>
                <span class="lettering"> </span>
                <span class="lettering">p</span>
                <span class="lettering">a</span>
                <span class="lettering">g</span>
                <span class="lettering">e</span>

            </span>
        </h1>
        <div class="gradient"></div>
    </div>
</section>

<section class="personal-art top-art">
    <div class=" layer-font">
        Most-popular 
        <i class="fa-sharp fa-solid fa-palette"></i>
    </div>
</section>

<section class="container-huge">
    <div class="art-grid">
        <div *ngFor="let nftData of nftsData | async" class="painting-container">
            <img routerLink="/catalog/details/{{nftData._id}}" class="painting" src="{{nftData.pic}}" />
        </div>
    </div>
</section>

<div class="bottom-title layer-font">
    Subscription Plans
</div>

<div class="hero-container">
    <div class="main-container">
        <div class="poster-container">
            <a href="#"><img src="./assets/public/images/bronze.png" class="poster" /></a>
        </div>

        <div class="ticket-container">
            <div class="ticket__content">
                <h4 class="ticket__movie-title">One Month</h4>
                <p class="ticket__movie-slogan">
                    Bronze
                </p>
                <p class="ticket__current-price">$16.00</p>
                <p class="ticket__old-price">$20.00</p>
                <button class="ticket__buy-btn bronze">Buy now</button>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="poster-container">
            <a href="#"><img src="./assets/public/images/silver.png" class="poster" /></a>
        </div>

        <div class="ticket-container">
            <div class="ticket__content">
                <h4 class="ticket__movie-title">Half Year</h4>
                <p class="ticket__movie-slogan">Silver</p>
                <p class="ticket__current-price">$80.00</p>
                <p class="ticket__old-price">$120.00</p>
                <button class="ticket__buy-btn silver">Buy now</button>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="poster-container">
            <a href="#"><img src="./assets/public/images/gold.png" class="poster" /></a>
        </div>
        
        <div class="ticket-container">
            <div class="ticket__content">
                <h4 class="ticket__movie-title">Full Year</h4>
                <p class="ticket__movie-slogan">Gold</p>
                <p class="ticket__current-price">$140.00</p>
                <p class="ticket__old-price">$240.00</p>
                <button class="ticket__buy-btn gold">Buy now</button>
            </div>
        </div>
    </div>
</div>