<div class="auth-form">
<div class="container-auth" id="container">
	<!-- <div class="form-container sign-up-container">
		<form class="auth-form" action="#">
			<h1 class="auth">Create Account</h1>
			<div class="social-container">
				<a href="#" class="social auth"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social auth"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social auth"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span class="auth">or use your email for registration</span>
			<input class="auth sign-up" type="text" placeholder="Name" />
			<input class="auth sign-up " type="email" placeholder="Email" />
			<input class="auth sign-up" type="password" placeholder="Password" />
			<button class="auth" >Sign Up</button>
		</form>
	</div> -->
	<div class="form-container sign-in-container">
		<form action="#" class="auth">
			<h1 class="auth">Sign in</h1>
			<div class="social-container">
				<a class="auth" href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a class="auth" href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a class="auth" href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span class="auth">or use your account</span>
			<input class="auth " type="email" placeholder="Email" />
			<input class="auth " type="password" placeholder="Password" />
			<a class="auth" href="#">Forgot your password?</a>
			<button class="auth">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<!-- <div class="overlay-panel overlay-left">
				<h1 class="auth">Welcome Back!</h1>
				<p class="auth">To keep connected with us please login with your personal info</p>
				<button class="ghost auth" id="signIn">Sign In</button>
			</div> -->
			<div class="overlay-panel overlay-right">
				<h1 class="auth">Hello, Friend!</h1>
				<p class="auth">Enter your personal details and start journey with us</p>
				<button class="ghost auth" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

</div>
