<div class="auth-form">
<div class="container-auth" id="container">

	<div class="form-container sign-in-container">
		<form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth">
			<h1 class="auth">Sign in</h1>
			<div class="social-container">
				<a class="auth" href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a class="auth" href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a class="auth" href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span class="auth">or use your account</span>
			<input id="username" formControlName="username" name="username" class="auth " type="text" placeholder="Username" />
			<label *ngIf="usernameError==true" class="auth-error">
				username must be atleast 4 symbols long
			</label>
			<input id="password" formControlName="password" name="password" class="auth " type="password" placeholder="Password" />
			<label *ngIf="passwordError==true" class="auth-error">
				Password must be atleast 4 symbols long
			</label>
			<a class="auth" href="#">Forgot your password?</a>
			<label *ngIf="loginError==true" class="login-error">
				Invalid username or password!
			</label>
			<button class="auth">Sign In</button>
			
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">

			<div class="overlay-panel overlay-right">
				<h1 class="auth">Hello, Friend!</h1>
				<p class="auth">Enter your personal details and start journey with us</p>
				<a routerLink="/register" class="auth redirector" id="signUp">Sign Up</a>
			</div>
		</div>
	</div>
</div>

</div>
