/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


/* test */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* font-family: 'PT Serif', serif; Normal*/
/* font-family: 'Bebas Neue', cursive; All Caps */
/* font-family: 'Teko', sans-serif; Fancy Standart */

html {
    --minty: #A2E3C4;
    --minty-cream: #F0F7F4;
    --minty-dark: #68d4a0;
    --minty-bright: hsl(151, 100%, 40%);
    --mild-gray: #B3BFB8;
    --gray: #7E8D85;
    --dark-gray: #3C493F;
    --fancy-gray: #4B3B47;
    --fancy-black: #231b21;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'PT Serif', serif;
}

a {
    color: black;
    text-decoration: none;
}
.epic-font {
    padding-left: 2rem;
    font-family: 'PT Serif', serif;
    font-size: 4rem;
    color: var(--minty-dark);
    -webkit-text-stroke: 1px var(--fancy-black);
    text-shadow: 5px 3px 4px rgba(96, 200, 207, 1);
    letter-spacing: 4px;
}

.logo {
    transition: all 0.4s linear;
}

.logo:hover {
    letter-spacing: 1rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.navbar-item {
    font-size: 3rem;
    font-family: 'Teko', sans-serif;
}

.navbar-links {
    display: flex;
    max-width: 60vw;
    justify-content: space-around;
    align-items: center;
}

.navbar-item {

    margin: 0.5rem;
    padding: 0.5rem 1.5rem;
    border-left: solid 3px rgba(0, 0, 0, 0.0);
    border-right: solid 3px rgba(0, 0, 0, 0.0);
    transition: all .3s linear;
    border-radius: 20px;
}

.navbar-item:hover {
    border-radius: 40px;
    border-left: solid 7px #333;
    border-right: solid 7px #333;

    color: #3C493F;

}

.navbar-item:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.40);
}

.navbar-item:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.30);
}

.art-background {
    background-image: url('./assets/public/images/ultra-hd-greenjpg.jpg');
    width: 100vw;
    height: 60vh;
    order: -20;
    animation: slide 20s linear infinite;
    animation-direction: alternate-reverse;

    background-position: bottom;
}

.gradient {
    order: -10;
    position: absolute;
    top: 100px;
    width: 100%;
    height: 30vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8634804263502276) 5%, rgba(255, 255, 255, 0.5441526952577906) 13%, rgba(255, 255, 255, 0.15759807340905108) 24%, rgba(255, 255, 255, 0) 100%);

}

@keyframes slide {
    0% {
        background-position: top;
    }

    100% {
        background-position: bottom;
    }

    100% {
        background-position: bottom;
    }

    0% {
        background-position: top;
    }
}

.welcome-text {
    position: absolute;
    top: 35vh;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-left: auto;
}

.awesome {
    text-shadow: 0px 5px 5px rgba(255, 255, 255, 0.76);
    line-height: 1;
    letter-spacing: 5px;
    font-size: 7rem;
    color: white;
    font-family: 'Teko', sans-serif;
    -webkit-text-stroke: var(--fancy-black) 3px;
    user-select: none;
}

section.personal-art {
    margin: 2.5rem 2.5rem;
}

.art-grid {
    margin: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.painting-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    object-fit: center;
    padding-bottom: 11rem;
}

.painting {
    border-radius: 50%;
    position: absolute;
    width: 400px;
    height: 400px;
    object-fit: center;
    border: 3px solid #289FED ;

    transition-duration: 1s;

    animation-timing-function: linear;

    box-shadow:
        5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF,
        15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF,
        25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow:
        5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF,
        15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF,
        25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.painting:hover {
    transform: rotate(360deg) scale(1.1);
    border-radius: 5px;

}

.paint .container-huge {
    height: 300vh;

}

.lettering {
    text-shadow: 0px 5px 5px rgba(255, 255, 255, 0.76);
    line-height: 1;
    letter-spacing: 3px;
    font-size: 8rem;
    color: white;
    font-family: 'Teko', sans-serif;
    /* -webkit-text-stroke: var(--fancy-black) 3px; */
    text-shadow: -1px 0 0px #FFADDA, 0 1px 0px #F99ACD, -2px 1px 0px #FFADDA, -1px 2px 0px #F99ACD, -3px 2px 0px #FFADDA, -2px 3px 0px #F99ACD, -4px 3px 0px #FFADDA, -3px 4px 0px #F99ACD, -5px 4px 0px #FFADDA, -4px 5px 0px #F99ACD, -6px 5px 0px #FFADDA, -5px 6px 15px #000000;
}

.lettering {
    display: inline-block;
    transition: all 100ms linear;
}

.lettering:nth-child(odd) {
    color: #87CEEB;
    transform: rotate(0deg);
}

.lettering:nth-child(even) {
    color: #8cff8c;
    transform: rotate(0deg);
}

.lettering:hover {
    transform: rotate(-20deg) scale(1.3);
    color: #87CEEB;

}

.lettering:nth-child(odd):hover {
    transform: rotate(20deg) scale(1.3);
    color: #8cff8c;


}

.layer-font {
    font-family: 'Calligraffitti', cursive;
    font-weight: 700;
    font-size: 10rem;

    text-shadow: -15px 5px 20px #ced0d3;
    text-align: center;
    letter-spacing: 0.02em;

    color: #87CEEB;
    text-shadow: 5px 5px 0px #FFB650,
        10px 10px 0px #FFD662,
        15px 15px 0px #FF80BF,
        20px 20px 0px #EF5097,
        25px 25px 0px #6868AC,
        30px 30px 0px #8cff8c;

        
}
.top-art {
    background: rgb(0,250,255);
background: radial-gradient(circle, rgba(0,250,255,1) 0%, rgba(9,115,121,1) 59%, rgba(255,255,255,0) 100%);
}
.layer-font.bottom-title {
    color: #ffffff;
    background: rgb(69, 127, 180);
    background: linear-gradient(180deg, rgba(69, 127, 180, 0) 0%, rgba(69, 127, 180, 0.6225840678068102) 24%, rgba(69, 127, 180, 0.9363095580028886) 57%, rgba(69, 127, 180, 1) 100%);
}

.footer {
    position: relative;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}
.footer {
    max-width: 1920px;

}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    max-width: 100vw;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

/* test Catalog*/

div.hero-container {
    box-sizing: border-box;

    background: #457fb4;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.hero-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {

    width: 400px;
    height: 540px;
    position: relative;
    margin: 0 20px;
}

.poster-container {

    width: 380px;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 9999;
}

.poster {
    width: 350px;
    height: 350px;
    border-radius: 6rem;
    box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
}

.ticket-container {

    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3648809865743172) 29%, rgba(255, 255, 255, 0.7822479333530288) 60%, rgba(255, 255, 255, 1) 100%);
    width: 380px;
    height: 550px;
    display: flex;

    flex-direction: column;
    align-items: center;
    border-radius: 5px;

    position: absolute;
    top: 20px;
    opacity: 0;
}

.main-container:hover .ticket-container {
    opacity: 1;
    animation: bounceIn 0.6s linear;
}

@keyframes bounceIn {

    0%,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.01, 1.01, 1.01);
        transform: scale3d(1.01, 1.01, 1.01);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

/* @keyframes bounce {
50% {
  opacity: 1;
  transform: scale(1.1);
}

100% {
  opacity: 1;
  transform: scale(1);
}
} */

.ticket__content {

    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.ticket__movie-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 3px;
    font-weight: 800;
}

.ticket__movie-slogan {
    color: #999;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.ticket__current-price {
    color: #69c982;
    font-size: 1.6rem;
    font-weight: bold;
}

.ticket__old-price {
    color: #999;
    text-decoration: line-through;
    margin-bottom: 10px;
}

.ticket__buy-btn {
    cursor: pointer;
    width: 100%;
    background: #2f2f2f;
    color: white;
    padding: 15px 0;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    letter-spacing: 3px;
    transition: all 0.4s linear;
}

.ticket__buy-btn.bronze:hover {

    background: #FF5733;
}

.ticket__buy-btn.silver:hover {

    background: #989898;
}

.ticket__buy-btn.gold:hover {

    background: #FFD700;
}
