div.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 16px;
}
div.container:last-of-type {
    margin-bottom: 100px;
}
form.form-container {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    width: 90vw;
    border-top: 5px  solid #289FED;
    border-left: 5px solid #289FED;  
    
background-color:  rgb(229, 229, 229);  
    border-radius: 3rem;
    box-shadow:
        5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF,
        15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF,
        25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        box-shadow:
        5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF,
        15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF,
        25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);

}
div.grid-object {
    /* background-color: rgb(208, 208, 208); */
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 700px;

}
img.profile-picture {
    aspect-ratio: 1x1;
    width: 100%;
    border-radius: 3rem;
}
.grid-two {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

a.profile-socials {

    font-size: 1.5rem;
    text-align: start;
}
a.profile-socials i {
    font-size: 2.2rem;
    padding-right: 6px;
}
label.socials-label {
    font-size: 2.2rem;
    -webkit-text-stroke: #7c7c7c 1px;
}
a.profile-socials:hover {
    color:#289FED;
    text-decoration: underline;

}
.last{ 
    padding-bottom: 20px;
}

h1.profile-info {
    font-size: 2.3rem;
    font-weight: 700;
    font-family: 'Teko', sans-serif; 
    -webkit-text-stroke: black 2px;
    color: rgb(146, 146, 146);
    letter-spacing: 2px;

}
h2.profile-info {
    font-style: italic;
    overflow-wrap: break-word;
    width: 40%;
}
h3.profile-info {
    font-size: 1.8rem;
}
.hashtag {
    font-size: 2rem;
}

.edit-options {
    font-size: 1.5rem;
    color:white;
    border: none;
    background-color: #7c7c7c;
    border-radius: 24px;
    margin: 16px 0;
    padding: 4px 10px;
}
.edit-options:hover {
    font-size: 1.5rem;
    color: #7c7c7c;
    border: none;
    background-color :white;
    border-radius: 24px;
    margin: 16px 0;
    padding: 4px 10px;
}
.see-list {
    color:rgb(146, 146, 146);
    padding-left: 4px;
    text-decoration:underline;

}
.see-list:hover {
    color:#289FED;
}