<div class="auth-form">
    <div class="container-auth" id="container">
        <div class="form-container sign-in-container">
            <form class="auth-form" [formGroup]="form" (ngSubmit)="onSubmit()">

                <h1 class="auth">Create Account</h1>
                <div class="social-container">
                    <a routerLink="/" class="social auth"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social auth"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social auth"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span class="auth">or use your email for registration</span>
                <input id="username" formControlName="username" name="username" class="auth sign-in" type="text" placeholder="Name" />
                <label *ngIf="
                (form.get('username').hasError('required') ||
                form.get('username').hasError('minlength') ||
                form.get('username').hasError('maxlength'))
                && form.get('username').touched
                " class="auth-error">
                    Username must be 3-20 symbols long!
                </label>
                
                <input id="email" formControlName="email" 
                name="email" class="auth sign-in " 
                type="email" placeholder="E-mail" />
                
                <label *ngIf="
                (form.get('email').hasError('required') ||
                form.get('email').hasError('email') )
                && form.get('email').touched
                " class="auth-error">   Please enter Valid E-mail!
                </label>
                
                <input id="password" formControlName="password" name="password" class="auth sign-in" type="password" placeholder="Password" />
                <label *ngIf="
                (form.get('password').hasError('required') ||
                form.get('password').hasError('minlength'))
                && form.get('password').touched
                " class="auth-error">
                    Password must be at least 6 symbols long!
                </label>
                <div class="birthday-container">
                    <label class="auth-label">Birthday:</label>
                    <input id="birthday" formControlName="birthday" name="birthday" class="auth sign-in birthday" type="date" placeholder="Birthday" />
                    <label *ngIf="
                    form.get('birthday').hasError('required')
                    && form.get('birthday').touched
                    " class="auth-error">
                        Birthday is required!
                    </label>
                </div>
                
                
                <button type="submit" class="auth default">REGISTER</button>
            </form>

            <!-- <form [formGroup]="registerForm" (ngSubmit)="register()" class="auth-form">

                
            </form> -->
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1 class="auth">Welcome Back!</h1>
                    <p class="auth">To keep connected with us please<br>login with your personal info</p>
                    <a class="auth redirector" id="signIn" routerLink="/login">LOGIN</a>
                </div>
            </div>
        </div>
    </div>
</div>